:root {
  --font-family: "VisbyRoundCF-Regular", sans-serif;
  --header-size: 32px;
  --sub-header-size: 22px;
  --body-size: 18px;

  --white:#ffff;
  --black:#0000;
  --pink: #ec7fff;
  --teal: #00fff2;
}

h1 {
  font-size: var(--header-size);
  font-family: var(--font-family);
}

h2 {
  font-size: var(--sub-header-size);
  font-family: var(--font-family);
}

p {
  font-size: var(--body-size);
  font-family: var(--font-family);
}

body {
  background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
